[submodule "addons/acp-zero"]
	path = addons/acp-zero
	url = https://github.com/DivideByZeroToDeleteWorld/ACP-Zero.git
[submodule "addons/arkinventory"]
	path = addons/arkinventory
	url = https://github.com/SynScoots/ArkInventory-modified-for-attunements-.git
[submodule "addons/atlasloot-mythic"]
	path = addons/atlasloot-mythic
	url = https://github.com/imevul/AtlasLoot_Mythic.git
[submodule "addons/attune-helper"]
	path = addons/attune-helper
	url = https://github.com/RosemyneH/AttuneHelperHosting.git
[submodule "addons/attune-progress"]
	path = addons/attune-progress
	url = https://github.com/RosemyneH/AttuneProgress.git
[submodule "addons/lizard-dmp"]
	path = addons/lizard-dmp
	url = https://github.com/Versicoloris/LizardDMP.git
[submodule "addons/lizard-kts"]
	path = addons/lizard-kts
	url = https://github.com/Versicoloris/LizardKTS.git
[submodule "addons/lizard-mmu"]
	path = addons/lizard-mmu
	url = https://github.com/Versicoloris/LizardMMU.git
[submodule "addons/lizard-stb"]
	path = addons/lizard-stb
	url = https://github.com/Versicoloris/LizardSTB.git
[submodule "addons/lizard-tmo"]
	path = addons/lizard-tmo
	url = https://github.com/Versicoloris/LizardTMO.git
[submodule "addons/lizard-wwg"]
	path = addons/lizard-wwg
	url = https://github.com/Versicoloris/LizardWWG.git
[submodule "addons/mapster-synastria-hosting"]
	path = addons/mapster-synastria-hosting
	url = https://github.com/RosemyneH/MapsterSynastriaHosting.git
[submodule "addons/mehtrajectory"]
	path = addons/mehtrajectory
	url = https://github.com/SynScoots/MehTrajectory.git
[submodule "addons/omniinventory-syn"]
	path = addons/omniinventory-syn
	url = https://github.com/RosemyneH/OmniInv-Syn.git
[submodule "addons/postal"]
	path = addons/postal
	url = https://github.com/binnesman/Postal.git
[submodule "addons/qt-auto-roller"]
	path = addons/qt-auto-roller
	url = https://github.com/RosemyneH/qtRoll.git
[submodule "addons/qtrunner"]
	path = addons/qtrunner
	url = https://github.com/RosemyneH/qtRunner.git
[submodule "addons/questie-335"]
	path = addons/questie-335
	url = https://github.com/Netrinil/Questie-335.git
[submodule "addons/scoots-confirmation-skip"]
	path = addons/scoots-confirmation-skip
	url = https://github.com/SynScoots/ScootsConfirmationSkip.git
[submodule "addons/scoots-craft"]
	path = addons/scoots-craft
	url = https://github.com/SynScoots/ScootsCraft.git
[submodule "addons/scoots-quick-auction"]
	path = addons/scoots-quick-auction
	url = https://github.com/SynScoots/ScootsQuickAuction.git
[submodule "addons/scoots-rares"]
	path = addons/scoots-rares
	url = https://github.com/SynScoots/ScootsRares.git
[submodule "addons/scoots-speedrun"]
	path = addons/scoots-speedrun
	url = https://github.com/SynScoots/ScootsSpeedrun.git
[submodule "addons/scoots-stats"]
	path = addons/scoots-stats
	url = https://github.com/SynScoots/ScootsStats.git
[submodule "addons/scoots-vendor"]
	path = addons/scoots-vendor
	url = https://github.com/SynScoots/ScootsVendor.git
[submodule "addons/synastria-build-manager"]
	path = addons/synastria-build-manager
	url = https://github.com/Lubricated/SynastriaBuildManager.git
[submodule "addons/the-journal"]
	path = addons/the-journal
	url = https://github.com/RosemyneH/TheJournal.git
[submodule "addons/weakauras-wotlk"]
	path = addons/weakauras-wotlk
	url = https://github.com/Bunny67/WeakAuras-WotLK.git
[submodule "addons/vendorforgelist"]
	path = addons/vendorforgelist
	url = https://github.com/APLiquid/VendorForgeList.git
[submodule "addons/trufi-gcd"]
	path = addons/trufi-gcd
	url = https://github.com/robgha01/TrufiGCD.git
[submodule "addons/synastria-questie-helper"]
	path = addons/synastria-questie-helper
	url = https://github.com/Elmegaard/SynastriaQuestieHelper.git
[submodule "addons/scoots-ui-tweaks"]
	path = addons/scoots-ui-tweaks
	url = https://github.com/SynScoots/ScootsUITweaks.git
[submodule "addons/scoots-warp-map"]
	path = addons/scoots-warp-map
	url = https://github.com/SynScoots/ScootsWarpMap.git
[submodule "addons/cdf-synastria"]
	path = addons/cdf-synastria
	url = https://github.com/RosemyneH/cDF---Synastria.git
[submodule "addons/resource-bank-viewer"]
	path = addons/resource-bank-viewer
	url = https://github.com/RosemyneH/ResourceBankViewer.git
[submodule "addons/talented-synastria"]
	path = addons/talented-synastria
	url = https://github.com/RosemyneH/talented-synastria.git
[submodule "addons/qt-ui-tweaks"]
	path = addons/qt-ui-tweaks
	url = https://github.com/RosemyneH/qtUITweaks.git
[submodule "addons/elvui-attune"]
	path = addons/elvui-attune
	url = https://github.com/RosemyneH/ElvUI_Attune.git
[submodule "addons/adibags-wotlk-335"]
	path = addons/adibags-wotlk-335
	url = https://github.com/Sattva-108/AdiBags-WoTLK-3.3.5.git
